In [2]:
student = {
    'name': 'Nik',
    'age': int(input("enter your age"))
}
print(student)

{'name': 'Nik', 'age': 20}

In [6]:
# Another way to form a dictionary

info = dict(name = input("Enter your name"), age = 20, city = 'Lucknow')
print(info)

{'name': 'nik', 'age': 20, 'city': 'Lucknow'}

In [3]:
temp ={
    'Lucknow': [30,40,50,],
    'Delhi': [25,35,45],
    'Mumbai': [10,15,20]
}
print(temp)

{'Lucknow': [30, 40, 50], 'Delhi': [25, 35, 45], 'Mumbai': [10, 15, 20]}

In [7]:
# 1st method to access key-value pairs

print(student['name'])
print(student['age'])

Nik
20

In [8]:
# 2nd method to access key-value pairs

student.get('name')
info.get('city')

'Lucknow'

In [9]:
print(['name','age','city'])
print(student.values())
print(student.items())

['name', 'age', 'city']
dict_values(['Nik', 20])
dict_items([('name', 'Nik'), ('age', 20)])

In [ ]:
for k in student: # it will take only keys and print it
    print(k)

name
age

In [11]:
for k,v in student.items():
    print(f"{k} : {v}")

name : Nik
age : 20

In [ ]:
# to add any key value pair in dictionary

student['phone no'] = 9839438817
print(student)

{'name': 'Nik', 'age': 20, 'phone no': 9839438817}

In [14]:
# to remove a key-value pair

student.pop('phone no', None) # Using None to avoid KeyError if 'city' does not exist
print(student)

{'name': 'Nik', 'age': 20}

In [15]:
# to update an existing key-value pair 

student['age'] = 21
print(student)

{'name': 'Nik', 'age': 21}

In [18]:
# nested dictionary

company = {
    'emp001' : {
    'name' : 'Nik',
    'age':20,
    'department':'HR',
    'salary' : 60000
},
'emp002' : {
'name':'Alice',
'age':23,
'department':'IT',
'salary' : 70000
},
'emp003' : {
'name':'Sam',
'age':21,
'department':'Data Operator',
'salary' : 50000
}}

print(company)

{'emp001': {'name': 'Nik', 'age': 20, 'department': 'HR', 'salary': 60000}, 'emp002': {'name': 'Alice', 'age': 23, 'department': 'IT', 'salary': 70000}, 'emp003': {'name': 'Sam', 'age': 21, 'department': 'Data Operator', 'salary': 50000}}

In [19]:
from pprint import pprint
pprint(company)

{'emp001': {'age': 20, 'department': 'HR', 'name': 'Nik', 'salary': 60000},
 'emp002': {'age': 23, 'department': 'IT', 'name': 'Alice', 'salary': 70000},
 'emp003': {'age': 21,
            'department': 'Data Operator',
            'name': 'Sam',
            'salary': 50000}}

In [22]:
print(company['emp002']['salary'])
print(company['emp001']['name'])
print(company['emp003']['age'])

70000
Nik
21

In [ ]:
# calculate the average temperature in delhi using temp dictionary

sum(temp['Delhi'])/len(temp['Delhi'])

35.0