In [2]:
import pandas as pd

- creating dataset
    - list of directories
    - dictionary of items
    - importing data as csv, xlsx or json

- reading data
- selection of data
    - row wise selection
    - column wise selection

- cleaning of data
- visulaizing the data

In [4]:
movies = {
    'title' : ['RRR', 'kgf','GOT', 'Mirzapur'],
    'rating' : [4.5, 6.7, 9.9, 9.8],
    'year' : [2023,2019,2012,2018]
}
df = pd.DataFrame(movies)
df

      title  rating  year
0       RRR     4.5  2023
1       kgf     6.7  2019
2       GOT     9.9  2012
3  Mirzapur     9.8  2018

In [5]:
movies = [
    {'title': 'RRR', 'rating':5.8, 'year': 2023},
    {'title': 'Got', 'rating': 9.9, 'year': 2012}
]
df = pd.DataFrame(movies)
df

  title  rating  year
0   RRR     5.8  2023
1   Got     9.9  2012